<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Cast</title>
</head>
<body>
    <h1>Data Cast</h1>
    <a href="/movies">Movies</a>
    <a href="/production-houses">Production House</a><br><br>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Birth Year</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %> 
            <tr>
                <td><%= data[i].joinName() %> </td>
                <td><%= data[i].birth_year %> </td>
                <td><%= data[i].phone_number %> </td>
                <td><%= data[i].gender %> </td>
                <td>
                    <button>
                        <a href="/casts/edit/<%= data[i].id %> ">Edit</a>
                    </button>
                    <button>
                        <a href="/casts/delete/<%= data[i].id %> " onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                    </button>
                    <button>
                        <a href="/casts/see-movies/<%= data[i].id %> ">See Movies</a>
                    </button>
                </td>
            </tr>
        <% } %> 
    </table><br>
    <button>
        <a href="/casts/add %> ">Tambah Data</a>
    </button>
    <hr>
</body>
</html>